@font-face {
  font-family: "Rubik Bubbles";
  src: url("/AppiAir/fonts/RubikBubbles-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@import "tailwindcss";

@theme {
  --font-test: "Rubik Bubbles", serif;
  --animate-wiggle: move 10s ease-in-out infinite;
  @keyframes move {
    to {
      transform: translateX(-100vw);
    }
  }
}
